{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}    
        
        <a href="/novoUser"><button class="btn btn-success mt-3 mb-3">Criar</button></a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Açäo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td>{{ user.nome }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a href="/detalhes/{{user.id}}">
                                <button class="btn btn-secondary">Detalhes</button>
                            </a>
                            <a href="/editUser/{{user.id}}">
                                <button class="btn btn-primary">
                                    Editar
                                </button>
                            </a>
                            <a href="{{url_for('deleteUser', id=user.id)}}">
                                <button class="btn btn-danger">Excluir</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>
{% endblock %}